.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-wrapper {
  height: 72px;
}

.header {
  position: fixed;
  z-index: 1;
  padding: 24px;
  width: 100%;
  background-color: $light;
}

.main {
  flex: 1;
}

.footer {
  background-color: $light;
  padding: 24px;
}

.error-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.error-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-popup-message {
  margin-bottom: 10px;
  color: red;
}

.error-popup-close {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}